body {
  width: 100%;
  height: 100%;
 }

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #ffffff;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #292826;
}

/* Navigation bar */
#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: royalblue;
    transition: all 0.35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }

  #mainNav .navbar-brand {
    color: white;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
  }
 
 /* Jumbotron CSS Custom styles */
  .jumbotron {
    background-color: #534e4e;
  }
  .jumbotron p{
    color: whitesmoke;
   }
   h1{
    color: whitesmoke;
   }

   /* Skills section CSS*/
   h2 {
    display: flex;
    justify-content: center;
    border-style: groove;
    border-color: royalblue;
    font-weight: bold;
    background-color: black;
    color: white;
   }
   h5 {
    color: darkgreen;
   }
  .skills img {
    transition: transform .7s ease-in;
  }
  .skills img:hover {
    transform: rotate(360deg);
  }
   
  /* work section CSS */
  h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: royalblue;
    font-size: calc(1.325rem + .9vw);
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  /* about me section CSS */
  h6 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: royalblue;
    font-size: calc(1.325rem + .9vw);
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .about p {
    display: flex;
    margin: 0 auto;
    border: 10px;
    justify-content: center;
  }